<table class="ui celled table">
  <thead></thead>
  <tbody>
    <tr>
      <td data-label="Skill"><span class="fas fa-edit"></span> Writing and Editing</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fab fa-html5"></span> HTML</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fab fa-markdown"></span> Markdown</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star-half-alt rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fa fa-code"></span> Structured Authoring</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="far fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fab fa-css3"></span> CSS</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star-half-alt rated"></span>
        <span class="far fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fas fa-database"></span> SQL</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star-half-alt rated"></span>
        <span class="far fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fab fa-linux"></span> Linux</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star-half-alt rated"></span>
        <span class="far fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fab fa-python"></span> Python</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="far fa-star rated"></span>
        <span class="far fa-star rated"></span>
      </td>
    </tr>
    <tr>
      <td data-label="Skill"><span class="fab fa-git-alt"></span> Git</td>
      <td data-label="Level">
        <span class="fa fa-star rated"></span>
        <span class="fa fa-star rated"></span>
        <span class="far fa-star rated"></span>
        <span class="far fa-star rated"></span>
      </td>
    </tr>
    <tr>
     <td data-label="Skill"><span class="fas fa-arrows-alt-h"></span> REST API, OpenAPI, YAML</td>
     <td data-label="Level">
       <span class="fa fa-star rated"></span>
       <span class="fa fa-star rated"></span>
       <span class="far fa-star rated"></span>
       <span class="far fa-star rated"></span>
     </td>
    </tr>
 </tbody>
</table>

