---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// This is the end of the main.scss provided by the theme. Use this space to make selective 
// overrides to the minimal-mistakes theme. Try to keep track of where the stuff I'm overriding
// originally comes from.


// This snippet overrides font sizes from /_sass/minimal-mistakes/_reset.scss
html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 12px;

  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table {
  font-size: $type-size-5;
}
